*{
    margin: 0;
    padding: 0;
}

/* Home screen */

/* Main back-ground div */


.back-page{
  background-color: #97EDD0;
}





/* Front Page */

.Front-page{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient( to bottom right , #97EDD0  ,  #97EDD0  , #84C1DF  ); */

}

.Front-page div{
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Front-page div h1{
    font-size: 80px;
    color: #17171C;
    font-weight: 350;
}

.Front-page div p {
    color: #FFFFFF;
    padding-top: 30px;
    font-size: 20px;
    color: #17171C;
    width: 70vh;
}

.check{
    border: 1px solid black;
    box-shadow: 0px 0px 7px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 20px;
}
.Front-page div button a{
  text-decoration: none;
  color: #17171C;
  font-size: 17px;
}



@media screen and (max-width : 850px) {
  .Front-page div p {
    width: 50vh;
  }
  
}
@media screen and (max-width : 500px) {
  .Front-page div p {
    width: 35vh;
  }
  
}




/* Looting section */



.main-container{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #b4b4f8;
    min-height: 100vh;
    padding-bottom: 50px;
}

.firstheading{
    display: flex;
    justify-content: center;
    width: 100%;
}
.firstheading h1{
    font-size: 50px;
    padding: 50px 0;
}

.secondheading{
    padding: 50px 0;
}




.inner-main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-main .BTNCont button{
    font-size: 25px;
    padding: 5 20;
    margin: 15 10 0 0;
    background-color: #97EDD0;
}

.BTNCont{
  width: 70%;
  display: flex;
  justify-content: end;
}

.container{
    display: flex;
    max-width: 70%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.child{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
    min-width: 20vh;
    margin-right: 20px;
    height: 25vh;
    background-image: url(../images/test.png);
    background-color: #FFFFFF;
}
.childImg{
  height: 100;
  width: 140px;
}
.cardBtn{
  background-color: #84C1DF;
  color: black;
  font-size: 15px;
  box-shadow: 0 0 3 purple;
  border: 0;
}










/* sign Up Screen */


.main-SignCont{
    border: 0;
}









